
.row {
    display: flex;
    flex-wrap: wrap;
}
.col, .col-3, .col-9, .col-4, .col-8, .col-2 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-2 {
    flex: 0 0 16.666666%;
    max-width: 16.66666%;
}
.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-8 {
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
}
.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}


.headerBar {
    background-image: linear-gradient(to right, #880e4f, white);
    margin: 0;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 2;
    align-items: center;
    box-sizing: border-box;
    height: 3em;
}
.headerBar .headerLogo {
    height: 100%;
    margin-left: 1em;
    /* filter: invert(96%) sepia(12%) saturate(865%) hue-rotate(4deg) brightness(104%) contrast(87%); */

}
.dropdownContainer {
    display: none;
}
.sidebarDownArrow {
    height: 1em;
    margin-right: 0.5rem;
    /* filter: invert(66%) sepia(3%) saturate(4452%) hue-rotate(26deg) brightness(94%) contrast(104%); */
}

.sideBar {
    padding-left: 15px;
    background-image: linear-gradient(#880e4f, white);
    width: 24%;
    position: fixed;
    max-height: 75vh;
    overflow-y: scroll;
}
.sideBar::-webkit-scrollbar {
  display: none;
} 

.mainContent {
    background-color: white;
    width: 75%;
    margin-left: 25%;
    padding-left: 15px;
    overflow-y: scroll;
    max-height: calc(100vh - 3.5em);
    overflow-x: hidden;
    display:flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding-top: 0.5rem;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
.mainContainer{
    height: 100%;
}
.displayedContent {
    margin-top: 3em;
    margin-left: 0;
    margin-right: 0;
}

.sidebarFolder {
    height: 2em;
}
.folderContainer {
    margin-top: 1em;
}

.folderName {
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}
.sidebarFile {
    margin-left: 1.5rem;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
}
.folderHeader {
    align-items: center; 
}
.rotated {
    transform: rotate(-90deg);
}

.searchInput {
    width: 100%;
    padding-left: 1.9em;
    border-radius: 2em;
    border: none;
    outline: none;
    padding-right: 0.3rem;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    height: 2em;
}

.contentImageContainer {
    width: 8em;
    height: 9em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}
.contentImage {
    width: 90%;
}
.contentTitle {
    text-align: center;
}
.contentContainer {
    width: 7em;
}

.searchBox {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 1em;
    
}

.searchIcon {
    height: 1em;
    position: relative;
    left: 1.3em;
    /* filter: invert(81%) sepia(11%) saturate(1156%) hue-rotate(25deg) brightness(85%) contrast(87%); */
}


.fileCard {
    perspective: 150rem;
}
.rotatedCard {
    backface-visibility: hidden;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: center;

}
.backCardImage {
    width: 1em;
}
.backCardDownloadButton {
    background-color: green;
    color: white;
    border-radius: 1em;
    margin-top: 1em;
    outline: none;
}


.backRotate {
    transform: rotateY(-180deg);
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media(min-width: 1080px){
    .fileCard:hover .frontRotate {
        transform: rotateY(180deg);
    }
    .fileCard:hover .backRotate {
        transform: rotateY(0deg);
    }
}

.statisticsSideBar {
    position:fixed;
    bottom: 0px;
    height: 20vh;
    background-image: linear-gradient(to top, #880e4f, white);
    width: 25%;
}

.progressBarWrapper {
    width: 80%;
    height: 2em;
    border-radius: 2em;
    border: 1px solid black;
    text-align: center;
    position: relative;
}
.progressImage {
    width: 2em;
    margin-right: 1em;
}
.progressBarFill {
    background-color: green;
    width: 40%;
    height:100%;
    border-radius: 2em;
    text-align: center;
    line-height: 2;
}
.statProviderContainer {
    display: flex;
    
    height: 30%;
    align-items: center;
}
.firstStatContainer {
    margin-top: 5%;
}

.progressLabel {
    position: absolute;
    left: 0;
    right: 0;
    line-height: 2;

}


.navContainer {
    margin-left: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to left, #880e4f,#dcb9cc);
}
.navButton {
    height:100%;
    display: flex;
    width: 6em;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #551040;
    text-decoration: none;
    color: black;
    
    
}



@media (max-width: 1080px) {
    .sideBar, .statisticsSideBar {
        display: none;
        width: 0%;
    }
    .mainContent {
        margin-left: 0px;
        width: 100%;
        overflow-x: hidden;
        margin-top: 7em;
        padding-top: 1em;
        max-height: calc(100vh - 10em);
    }
    .contentContainer {
        width: 10em;
        height: 15em;
    }
    .contentImageContainer {
    }
    .contentTitle {
        font-size: 1.5em;
    }
    .headerBar {
        height: 10em;
    }
    .searchBox {
        height: 6em;
        position: relative;
        width: calc(100% - 24em);
        border-radius: 3em;

    }
    .searchIcon {
        height: 4rem;
        position: absolute;
        left: 1em;
    }
    .searchInput {
        font-size: 3em;
        height: 100%;
    }
    .navContainer {
        display: none;
    }
    .dropdownContainer {
        display: block;
        position: relative;
        width: 10em;
        margin-left: auto;
    }
    .dropdownItems {
        display: none;
        position: absolute;
        
    }
    .dropdownContainer:hover .dropdownItems {
        display: flex;
        flex-wrap: wrap;
    }
    .dropdownItems {
        position:fixed;
        top: 10em;
        left: 0;
        height: calc(100% - 10em);
        width: 100%;
        justify-content: center;
        text-align: center;
        background-image: linear-gradient(#880e4f, #dcb9cc);


    }
    .dropdownNavButton {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6em;
        color: black;
        text-decoration: none;
        border-bottom: 1px solid gray;
    }
    .headerLogo {
        height: 50%;
    }
    
}

