html, body
{
    height: 100%;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

form
{
    

  width:35%;
  color: #4b4c2c;
}

form > fieldset
{
    border-radius: 4px;
    border-width: 3px;
    border-color: #a6ab64;
    background-color: #f9f8e1;
    text-align: center;
}

.form_content
{
  
  width: 100%;
}

form legend
{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

form input
{
  padding: 10px 12px;
  border-width: 2px;
  border-color: #4b4c2c;
  border-radius: 4px;
  margin-bottom: 15px;
  width: 80%;
  height: auto;
  
}

form input:focus
{
  border-color: #4b4c2c;
  border-radius: 4px;
  background-color: #d4d4d4;
  
}


.btn
{
  background-color: white;
  
  margin-bottom: 10px;
  width: 80%;

}

.btn:hover
{
  background-color: #d4d4d4;
}

.btn:focus
{
  background-color: #4b4c2c;
  color:#f9f8e1
}

a
{
  text-decoration: none;
  
}


a:visited
{
  text-decoration: none;
  color: blue;
  
}

a:hover
{
  text-decoration: none;
  color: red;
}

.pswdreset
{
  margin-top: 5px;
}


